<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <!-- Start header -->
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="resume">Fraoucene Guezout</a>
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- End header -->

        <!-- Start menu -->
        <div id="menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="resume" translate>Resume</a></li>
                <li><a ui-sref="blog" translate>Blog</a></li>
                <li><a ui-sref="question" translate>Question</a></li>
                <li><a ui-sref="about" translate>About</a></li>
            </ul>
        </div>
        <!-- End menu -->
    </div>
</nav>
