<!--Start resume -->



<div id="wrapper-resume">


    <!-- Start home -->
     
    <div id="wrapper-home">  
        <div class="container ">
            <input type="radio" ng-model="language" value="en" > {{languagess.english[language]}} <br/>
            <input type="radio" ng-model="language" value="fr">  {{languagess.french[language] }}<br/>
            <div class="text-center">
                <h1 style="color:{{configuration.colors.title}} "> <b>Fraoucene Guezout</b></h1>
                <hr width="40%">
                <p ng-if="language=='en'" style="color:{{ configuration.colors.subtitle }}" class="lead">Interactive resume</p>
                <p ng-if="language=='fr'" style="color:{{ configuration.colors.subtitle }}" class="lead">CV Interactif</p>
                 
            </div>
        </div>
    </div>
    <!-- End home -->
    <a class="scroll-down"> 
        <span ng-click="scrollto('#wrapper-about')" class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <!-- Start scroll -->
    <nav  class="scroll" id="navbar-example" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-y"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
            <div  class="collapse navbar-collapse navbar-ex1-collapse center-text">
                <ul class="nav navbar-nav">
                    <li class="bloc" ng-class="{'active':section=='#wrapper-about'}" ng-click="scrollto('#wrapper-about')"><a href="">Profile</a></li>
                    <li class="bloc" ng-class="{'active':section=='#experiences'}" ng-click="scrollto('#experiences')"><a href="">Experiences</a></li>
                    <li class="bloc" ng-class="{'active':section=='#wrapper-skills'}" ng-click="scrollto('#wrapper-skills')"><a ng-if="language=='en'" href="">Abilities</a><a ng-if="language=='fr'" href="">Compétences</a></li>
                    <li class="bloc" ng-class="{'active':section=='#wrapper-education'}" ng-click="scrollto('#wrapper-education')"><a  href="">Educations</a></li>
                    <li class="bloc" ng-class="{'active':section=='#wrapper-contact'}" ng-click="scrollto('#wrapper-contact')" ><a href="">Contact</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
	</nav>
    <!-- End scroll -->

    <!-- Start about -->
    <div class ="profile" id="wrapper-about">
        <h2>{{titles.profile.label[language]}}</h2>
        <center><p ng-bind-html="titles.profile.subtitle[language]" ></p></center>
        <hr width="80%">
        <div class="row">
            <div d class="col-md-4">
                <h3 style="color:{{ configuration.colors.about }}">{{about.tilte[language]}}</h3>
                <p class="lead content" ng-bind-html="about.content[language]"></p>
            </div>
            <div  class="col-md-4 text-center">
                <img class="imgProfile" src="/static/source/profile.jpg"  width="146" height="146">
            </div>
            <div  class="col-md-4">
                <h3 style="color:{{ configuration.colors.about }}">Details</h3>
                <p class="content">
                    <strong style="color:{{ configuration.colors.about }}">{{titles.info.nom[language]}}:</strong><br>
                    Fraoucene Guezout<br>
                    <strong style="color:{{ configuration.colors.about }}">Age:</strong><br>
                    26 {{titles.info.year[language]}}<br>
                    <strong style="color:{{ configuration.colors.about }}">{{titles.info.location[language]}}:</strong><br>
                    49 Avnene de Paris <br> 
                    Villejuif, France, Earth 
                </p>
            </div>
        </div>
    </div>
    <!-- End about -->
    <!-- Start experiences -->
    <div id="experiences" class="container">
            <!-- <h2>Experiences</h2>
            <p class="lead">
                “Protons give an atom its identity, electrons its personality.”<br>- Bill Bryson, A short history of nearly everything
            </p> -->
            <h2>{{titles.experiences.label[language]}}</h2>
            <center><p ng-bind-html="titles.experiences.subtitle[language]"></p></center>
            <hr width="90%">
            <div ng-repeat="experience in data.experiences" >
                <experience 
                    title="{{experience.title[language]}}"
                    company="{{experience.company}}"
                    duration="{{experience.duration}}"
                    description="{{experience.description[language]}}"
                    tools="{{experience.tools}}"
                    detail="{{experience.detail[language]}}"
                    location="{{experience.location}}"
                    lien="{{experience.lien}}"
                    start="{{getFormatDate(experience.start_on)}}"
                    end="{{getFormatDate(experience.end_on)}}"
                    messageshow="{{experience.messageshow[language]}}"
                    messagehide="{{experience.messagehide[language]}}"

                ></experience>
            </div>
    </div>

    <!-- End experiences -->
  
    <!-- Start skills -->
     <div class ="profile" id="wrapper-skills">
<!--         <h2>Abilities</h2>
        <center>
        <p class="lead">“Life without knowledge is death in disguise.”
        <br>
        </p>
        </center> -->
        <h2>{{titles.abilities.label[language]}}</h2>
        <center><p ng-bind-html="titles.abilities.subtitle[language]"></p></center>
        <hr>
        <h3 ng-if="language=='en'">Skills</h3>
        <h3 ng-if="language=='fr'">Compétences</h3>
            <div class="row">
                <div class="col-md-6 ability-title">
                    <li  ng-if="$index < skills.length/2 " ng-repeat="skill in skills track by $index " style="  list-style-type: none;">
                        <span>{{skill.label}}</span>
                        <span  id="ability-score">  
                            <a href="#">
                                <span ng-repeat="star in stars_on[skill.label] track by $index"  class="glyphicon glyphicon-star"></span>
                            </a>

                            <span ng-repeat="star in stars_off[skill.label] track by $index" class="glyphicon glyphicon-star"></span>                 
                        </span>
                    </li>
                    
                </div>
                <div  class="col-md-6 ability-title">
                    <li ng-if="$index >= skills.length/2 " ng-repeat="skill in skills track by $index " style="  list-style-type: none;">
                        <span>{{skill.label}}</span>
                        <span  id="ability-score">  
                            <a href="#">
                                <span ng-repeat="star in stars_on[skill.label] track by $index"  class="glyphicon glyphicon-star"></span>
                            </a>

                            <span ng-repeat="star in stars_off[skill.label] track by $index" class="glyphicon glyphicon-star"></span>                 
                        </span>
                    </li>
                    
                </div>
            </div>
            <div class="text-center project-referal">
                <p ng-bind-html="titles.git.subtitle[language]"></p>
                <a href="https://github.com/fraoucene/fraouceneguezout" class="btn btn-primary" target="_blank">{{titles.git.label[language]}}</a>
            </div>
            <hr>
            <h3 ng-if="language=='en'">Tools</h3>
            <h3 ng-if="language=='fr'">Outils ET Méthodes</h3>
            <div class="row">
                <div class="col-md-6 ability-title">
                    <li ng-if="$index < tools.length/2 " ng-repeat="skill in tools track by $index " style="  list-style-type: none;">
                        <span>{{skill.label}}</span>
                        <span  id="ability-score">  
                            <a href="#">
                                <span ng-repeat="star in stars_on[skill.label] track by $index"  class="glyphicon glyphicon-star"></span>
                            </a>

                            <span ng-repeat="star in stars_off[skill.label] track by $index" class="glyphicon glyphicon-star"></span>                 
                        </span>
                    </li>
                    
                </div>
                <div class="col-md-6 ability-title">
                    <li ng-if="$index >= tools.length/2 " ng-repeat="skill in tools track by $index " style="  list-style-type: none;">
                        <span>{{skill.label}}</span>
                        <span  id="ability-score">  
                            <a href="#">
                                <span ng-repeat="star in stars_on[skill.label] track by $index"  class="glyphicon glyphicon-star"></span>
                            </a>

                            <span ng-repeat="star in stars_off[skill.label] track by $index" class="glyphicon glyphicon-star"></span>                 
                        </span>
                    </li>
                    
                </div>
            </div>
            <hr>
            <h3 ng-if="language=='en'">Languages</h3>
            <h3 ng-if="language=='fr'">Langues</h3>
            <div class="row">
                <div class="col-md-6 ability-title">
                    <li ng-if="$index < languages.length/2 " ng-repeat="skill in languages track by $index " style="  list-style-type: none;">
                        <span >{{skill.label}}</span>
                        <span  id="ability-score">  
                            <a href="#">
                                <span ng-repeat="star in stars_on[skill.label] track by $index"  class="glyphicon glyphicon-star"></span>
                            </a>

                            <span ng-repeat="star in stars_off[skill.label] track by $index" class="glyphicon glyphicon-star"></span>                 
                        </span>
                    </li>
                    
                </div>
                <div  class="col-md-6 ability-title">
                    <li ng-if="$index >= languages.length/2 " ng-repeat="skill in languages track by $index " style="  list-style-type: none;">
                        <span >{{skill.label}}</span>
                        <span  id="ability-score">  
                            <a href="#">
                                <span ng-repeat="star in stars_on[skill.label] track by $index"  class="glyphicon glyphicon-star"></span>
                            </a>

                            <span ng-repeat="star in stars_off[skill.label] track by $index" class="glyphicon glyphicon-star"></span>                 
                        </span>
                    </li>
                    
                </div>
            </div>
         
    </div>

    
    <!-- End skills -->

    <!-- Start education -->
    <div id="wrapper-education" class="section">
      <!--   <h2>Educations</h2>
        <p class="lead">
            “Protons give an atom its identity, electrons its personality.”<br>- Bill Bryson, A short history of nearly everything
        </p> -->
        <h2>{{titles.educations.label[language]}}</h2>
        <center><p ng-bind-html="titles.educations.subtitle[language]" ></p></center>
        <hr width="80%">
        <div ng-repeat="etude in data.education" >
            <experience 
                title="{{etude.title[language]}}"
                company="{{etude.school}}"
                duration="{{etude.duration}}"
                description="{{etude.discription[language]}}"
                tools="{{etude.tools}}"
                detail="{{etude.detail[language]}}"
                location="{{etude.location}}"
                lien="{{etude.lien}}"
                start="{{getFormatDate(etude.start_on)}}"
                end="{{getFormatDate(etude.end_on)}}"
                messageshow="{{etude.messageshow[language]}}"
                messagehide="{{etude.messagehide[language]}}"
            ></experience>
        </div>
    </div>
    <!-- End education -->
<!-- Get resume -->
  
    <div id="wrapper-contact"  class ="col-sm-12 text-center footer">
        <div id="contact" class="container">
            <div class="title">Contact</div>
        <hr width="50%" >
        <div class="row">
            <div >
                <ul class="no-bullets">
                    <li>
                        <a href="mailto:fraoucene.guezout@gmail.com">
                            <span id="icon"class="fa fa-envelope-o"></span>
                                fraoucene.guezout@gmail.com 
                        </a>
                    </li>
                    <li>
                        <a href="http://twitter.com/pascalvgemert" target="_blank">
                            <span id="icon" class="fa fa-twitter"></span>
                            http://twitter.com/fraoucene </a>
                    </li>
                    <li>
                        <a href="http://fr.linkedin.com/pub/fraoucene-guezout/69/4b/5a8" target="_blank">
                            <span id="icon" class="fa fa-linkedin"></span>
                            fraoucene guezout </a>
                    </li>
                    <!--           
                    <li>
                        <a href="http://www.viadeo.com/profile/002lksp8ra10jaf/" target="_blank">
                            <span id="icon" class="el el-viadeo"></span>
                            fraoucene guezout </a>
                    </li>
                    -->
                    <li>
                        <a href="https://github.com/fraoucene" target="_blank">
                            <span id="icon" class="fa fa-github"></span>
                        </a>
                        <a href="https://bitbucket.org/fraoucene" target="_blank">
                            <span id="icon" class="fa fa-bitbucket"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
         <hr width="40%" >
        <div class="title">{{titles.resume.label[language]}}</div>
            <p class="text" ng-bind-html="titles.resume.subtitle[language]"></p>
            <a href="./static/source/fraoucene.pdf" target="_blank"  class ="btn btn-success">GET RESUME</a>
    </div>        
    

<!-- END Get resume -->
</div>
<!-- End resume