/* line 9, ../../sass/partials/_navbar.scss */
.navbar-default {
  background-color: #3f3f3f;
  border-color: #3f3f3f;
}
/* line 13, ../../sass/partials/_navbar.scss */
.navbar-default .dropdown:hover .dropdown-menu {
  display: block;
}
/* line 17, ../../sass/partials/_navbar.scss */
.navbar-default a {
  /* font-family: "Monaco"; */
  color: #dcdccc !important;
  background-color: #3f3f3f !important;
}
/* line 22, ../../sass/partials/_navbar.scss */
.navbar-default a:hover {
  color: #dcdccc !important;
  background-color: #2b2b2b !important;
}
/* line 29, ../../sass/partials/_navbar.scss */
.navbar-default .navbar-header a {
  font-family: "Pacifico";
}

/* line 9, ../../sass/partials/_resume.scss */
#wrapper-resume {
  height: 100%;
  width: 100%;
}
/* line 13, ../../sass/partials/_resume.scss */
#wrapper-resume .section {
  padding: 50px 0;
}
/* line 16, ../../sass/partials/_resume.scss */
#wrapper-resume .section .delimiter {
  margin-top: 40px;
}
/* line 21, ../../sass/partials/_resume.scss */
#wrapper-resume #wrapper-home {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url("https://ununsplash.imgix.net/photo-1417577792096-106a2c4e353d?q=75&fm=jpg&s=d1e99e9cb4964f525295cae72c0d8d79") no-repeat center center fixed;
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 29, ../../sass/partials/_resume.scss */
#wrapper-resume #wrapper-home .text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 34, ../../sass/partials/_resume.scss */
#wrapper-resume #wrapper-home .text-vcenter h1 {
  font-family: "Monaco";
  font-size: 3.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
/* line 44, ../../sass/partials/_resume.scss */
#wrapper-resume #wrapper-about {
  background-color: #3f3f3f;
  color: #dcdccc;
}
/* line 48, ../../sass/partials/_resume.scss */
#wrapper-resume #wrapper-about .content {
  display: inline-block;
}
/* line 51, ../../sass/partials/_resume.scss */
#wrapper-resume #wrapper-about .content :last-child {
  margin-bottom: 0;
}
/* line 55, ../../sass/partials/_resume.scss */
#wrapper-resume #wrapper-about .content .fa-inverse {
  color: #3f3f3f;
}
/* line 61, ../../sass/partials/_resume.scss */
#wrapper-resume #wrapper-skills {
  background-color: #dcdccc;
  color: #3f3f3f;
}
/* line 65, ../../sass/partials/_resume.scss */
#wrapper-resume #wrapper-skills .skill {
  margin: 20px 0;
}
/* line 68, ../../sass/partials/_resume.scss */
#wrapper-resume #wrapper-skills .skill .skill-name {
  position: absolute;
  /* height: 100%; */
  width: 100%;
  margin-left: -15px;
  line-height: 90px;
}
/* line 78, ../../sass/partials/_resume.scss */
#wrapper-resume #wrapper-experiences {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url("https://unsplash.imgix.net/reserve/2jEqzi01Ru2HBhGLTBgB_MG_5236.jpg") no-repeat center center fixed;
  display: table;
  position: relative;
  /* height: 800px; */
  width: 100%;
}
/* line 86, ../../sass/partials/_resume.scss */
#wrapper-resume #wrapper-experiences .panel {
  opacity: 0.9;
  background-color: #3f3f3f;
  border-color: #2b2b2b;
  color: #dcdccc;
}
/* line 92, ../../sass/partials/_resume.scss */
#wrapper-resume #wrapper-experiences .panel .panel-heading {
  background-color: #2b2b2b;
  border-color: #2b2b2b;
  color: #dcdccc;
}

/* line 18, ../../sass/main.scss */
html {
  height: 100%;
  width: 100%;
}
/* line 22, ../../sass/main.scss */
html body {
  height: 100%;
  width: 100%;
  padding-top: 50px;
}
/* line 27, ../../sass/main.scss */
html body #wrapper-content {
  height: 100%;
  width: 100%;
}
/* line 31, ../../sass/main.scss */
html body #wrapper-content a {
  color: #bc8383;
  text-decoration: none;
}
/* line 35, ../../sass/main.scss */
html body #wrapper-content a:hover {
  color: #dca3a3;
  text-decoration: none;
}
/* line 41, ../../sass/main.scss */
html body #wrapper-content .code {
  font-family: "Monaco";
  font-size: 60%;
}
/* line 46, ../../sass/main.scss */
html body #wrapper-content .label {
  margin-right: 0.5em;
  display: inline-block;
  color: #ffffef !important;
  font-size: 70%;
}
/* line 52, ../../sass/main.scss */
html body #wrapper-content .label.label-css {
  background-color: #5c888b;
}
/* line 56, ../../sass/main.scss */
html body #wrapper-content .label.label-js {
  background-color: #d0bf8f;
}
/* line 60, ../../sass/main.scss */
html body #wrapper-content .label.label-python {
  background-color: #5f7f5f;
}
/* line 64, ../../sass/main.scss */
html body #wrapper-content .label .fa {
  font-size: 70%;
}
