$zenburn-bg-m3:      #6F6F6F;
$zenburn-bg-m2:      #5F5F5F;
$zenburn-bg-m1:      #4F4F4F;
$zenburn-bg:         #3F3F3F;
$zenburn-bg-p1:      #2B2B2B;
$zenburn-bg-p2:      #000000;
$zenburn-blue-m1:    #94BFF3;
$zenburn-blue:       #8CD0D3;
$zenburn-blue-p1:    #7CB8BB;
$zenburn-blue-p2:    #6CA0A3;
$zenburn-blue-p3:    #5C888B;
$zenburn-blue-p4:    #4C7073;
$zenburn-blue-p5:    #366060;
$zenburn-cyan:       #93E0E3;
$zenburn-fg-m1:      #FFFFEF;
$zenburn-fg:         #DCDCCC;
$zenburn-fg-p1:      #656555;
$zenburn-green-m4:   #BFEBBF;
$zenburn-green-m3:   #AFD8AF;
$zenburn-green-m2:   #9FC59F;
$zenburn-green-m1:   #8FB28F;
$zenburn-green:      #7F9F7F;
$zenburn-green-p1:   #5F7F5F;
$zenburn-magenta:    #DC8CC3;
$zenburn-orange:     #DFAF8F;
$zenburn-red-m1:     #DCA3A3;
$zenburn-red:        #CC9393;
$zenburn-red-p1:     #BC8383;
$zenburn-red-p2:     #AC7373;
$zenburn-red-p3:     #9C6363;
$zenburn-red-p4:     #8C5353;
$zenburn-yellow:     #F0DFAF;
$zenburn-yellow-p1:  #E0CF9F;
$zenburn-yellow-p2:  #D0BF8F;
$zenburn-garnet:     #341515;
